.reveal .slides section .fragment.css-animation {
    visibility: inherit;
    opacity: 1;
}

.large-text {
    font-size: 1.5em;
}

.age {
    display: inline-block;
    width: 0;
}

.age.visible {
    width: auto;
}

.zoetermeer-box {
    margin: -100px auto 0;
    width: 800px;
    position: relative;
}

.zoetermeer-box .home {
    position: absolute;
    top: 290px;
    left: 570px;
}

.zoetermeer-box > * > * {
    display: block;
}

.zoetermeer-box .home .arrow{
    transform: rotate(180deg);
}

.zoetermeer-box .ortec {
    position: absolute;
    top: 460px;
    left: 280px;
}

.glow {
  font-size: 80px;
}

.glow.visible {
    animation: glow 1s ease-in forwards;
}

@keyframes glow {
  from {
    text-shadow: none;
  }
  to {
    text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #e60000, 0 0 12px #e60000,
      0 0 15px #e60000, 0 0 18px #e60000, 0 0 21px #e60000;
  }
}

.falldown {
    transform-origin: top left;
}
.falldown.visible {
    animation: falldown 5s ease forwards;
}

@keyframes falldown {
    25% {
        transform: rotate(100deg);
    }
    38% {
        transform: rotate(75deg);
    }
    39% {
        transform: rotate(75deg);
    }
    48% {
        transform: rotate(95deg);
    }
    100% {
        transform: translateY(1000px) rotate(95deg);
    }
}