.reveal .slides section .fragment.css-animation {
    visibility: inherit;
    opacity: 1;
}

.large-text {
    font-size: 1.5em;
}

.age {
    display: inline-block;
    width: 0;
}

.age.visible {
    width: auto;
}

.zoetermeer-box {
    margin: -100px auto 0;
    width: 800px;
    position: relative;
}

.zoetermeer-box .home {
    position: absolute;
    top: 290px;
    left: 570px;
}

.zoetermeer-box > * > * {
    display: block;
}

.zoetermeer-box .home .arrow{
    transform: rotate(180deg);
}

.zoetermeer-box .ortec {
    position: absolute;
    top: 470px;
    left: 300px;
}

.glow {
  font-size: 80px;
}

.glow.visible {
    animation: glow 1s ease-in forwards;
}

@keyframes glow {
  from {
    text-shadow: none;
  }
  to {
    text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #e60000, 0 0 12px #e60000,
      0 0 15px #e60000, 0 0 18px #e60000, 0 0 21px #e60000;
  }
}

.ortec-section img {
}

.falldown {
    transform-origin: top left;
}
.falldown.visible {
    animation: falldown 5s ease forwards;
}

@keyframes falldown {
    25% {
        transform: rotate(100deg);
    }
    38% {
        transform: rotate(75deg);
    }
    39% {
        transform: rotate(75deg);
    }
    48% {
        transform: rotate(95deg);
    }
    99% {
        transform: translateY(1000px) rotate(95deg);
    }
    100% {
        display: none;
        transform: translateY(1000px) rotate(95deg);
    }
}

.hobby-container > * {
    display: inline-block;
    width: 200px;
}

.hobby-container img {
    margin-bottom: 0;
}

.hobby-container img:nth-child(2) {
    margin-left: -190px;
}

.hobby-container p {
    margin-top: 0;
    font-size: 1rem;
}

.world {
    position: relative;
}

.boat {
    transform-origin: top left;
    position: absolute;
    left: 470px;
    top: 160px;
    width: 50px;
}
.boat.visible {
    animation: travel 10s ease infinite;
}

@keyframes travel {
    0% {
        left: 470px;
        top: 160px;
    }
    10% {
        left: 420px;
        top: 230px;
    }
    20% {
        left: 300px;
        top: 250px;
    }
    30% {
        left: 260px;
        top: 290px;
    }
    40% {
        left: 30px;
        top: 350px;
        opacity: 1;
    }
    45% {
        left: 30px;
        top: 350px;
        opacity: 0;
    }
    46% {
        left: 890px;
        top: 350px;
        opacity: 0;
    }
    50% {
        left: 890px;
        top: 350px;
        opacity: 1;
    }
    60% {
        left: 790px;
        top: 310px;
    }
    70% {
        left: 690px;
        top: 270px;
    }
    80% {
        left: 570px;
        top: 260px;
    }
    90% {
        left: 540px;
        top: 200px;
    }
}



.formal-thursday-section {
    top: 0 !important;
}

.formal-thursday-container {
    height: 100%;
}

.formal-thursday-container > div {
    background-color: white;
    padding: 10px 8px 25px;
    position: absolute;
    display: none;
}

.formal-thursday-container > div > img {
    margin: 0;
}